.tab{
  height: 300px;
}
li{
  cursor: pointer;
  color: rgb(110, 48, 41);
  list-style-type: none;
}
li:hover{
  color: rgb(242, 110, 92);
}

#target{
  height: 0;
  width: 0;
  margin: 0 auto;
  margin-top: 100px;
}

.square{
  border: 50px solid;
}

.circle{
  border: 50px solid;
  border-radius: 50%;
}

.triangle{
  height: 0;
  width: 0;
  border-bottom: 100px solid;
  border-left: 50px solid transparent !important;
  border-right: 50px solid transparent !important;
}

.pacman{
  border: 50px solid;
  border-radius: 50%;
  border-right-color: transparent !important;
}
